::selection {
  /*background: #e5co7b;*/
  background: #88c0d0;
  color: #282c34;
}

a {
  border-bottom: 2.5px solid var(--content-secondary);
  padding-left: 2px;
  padding-right: 2px;
  text-decoration: none;
  color: inherit;
}

a:hover {
  background-color: var(--content-secondary);
  color: var(--background);
}

